.main {
  color: #FFF;
}

.hero {
  display: flex;
  position: relative;
  box-shadow: inset 100px 100px 100px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
  
  @include onMobile {
    overflow: initial;
  }

  @include onDesktop {
    background: #000000;
  }

  &__content {
    padding: 30px 5px 30px;
    z-index: 1;

    @include onTablet {
      max-width: 562px;
      padding: 70px 10px 100px 50px;
    }

    @include onDesktop {
      padding: 122px 0 203px 5px;
      box-shadow: 100px 0px 100px 0px #000;
    }
  }

  &__headline {
    margin-bottom: 52px;
    font-family: 'Marcellus', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    
    @include onTablet {
      font-size: 60px;
      font-weight: 400;
      line-height: 50px;
    }

    @include onDesktop {
      height: 161px;
      margin-bottom: 32px;
      font-size: 80px;
      font-weight: 400;
      line-height: 70px;
      
    }
  }

	&__details {
    @include flex(center, center); 
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 800;
    line-height: 10px;
    font-family: 'Mulish', serif;

    @include onTablet {
      justify-content: space-evenly;
    }

    @include onDesktop {
      @include flex(center, start);
      margin-bottom: 25px;
    }
  }

  &__year {
    margin-right: 20px;

    @include onTablet {
      margin-right: 40px;
    }
  }

  &__age-category {
    @include flex(center, center);
    margin-right: 19px;
    height: 24px;
    width: 60px;
    $border: 1.5px;
    position: relative;
    color: #FFF;
    border: solid $border transparent;
    border-radius: 50px;
    background-clip: padding-box;
    background: linear-gradient(to right, #326CFF, #26FFF2);
    text-align: center;
    line-height: 12px;
    z-index: 1;
    
    &:before {
      height: 18px;
      width: 54px;
      content: '';
      position: absolute;
      z-index: -1;
      border-radius: inherit;
      background: #000;
    }
  }

  &__duration {
    margin-right: 41px;
  }

  &__star {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

	&__summary {
    color: #e4e3e3;
    font-family: 'Mulish', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 35px;

    @include onTablet {
      line-height: 28px;
    }

    @include onDesktop {
      color: #C2C2C2;
      line-height: 28px;
    }
  }

  &__buttons {
    @include flex(center, space-around);
    opacity: 0.9;
    @include onDesktop {
      @include flex(center, start);
      gap: 30px;
      opacity: 1;
    }
  }

  &__bg-poster {
    display: block;
    position: absolute;
    min-width: 214%;
    left: -204px;
    opacity: 0.3;
    height: 100%;
    background: url("../images/poster1.png") no-repeat;
    background-position: center -11%;
    background-size: cover;
    background-color: rgb(30, 30, 30);

    @include onTablet {
      min-width: 187%;
      left: -336px;
      opacity: 0.5;
      height: 100%;
      background-position: center 13%;
    }

    @include onDesktop {
      right: 0;
      min-width: 66%;
      left: 569px;
      opacity: 1;
      background-size: contain;
    }
  }

  &__underline {
    display: block;
    height: 2px; 
    position: absolute;
    min-width: 214%;
    left: -204px;
    bottom: 0;
    background: #2F2E2E;
    content: '';
    z-index: 1;

    @include onTablet {
      position: absolute;
      min-width: 187%;
      left: -336px;
    }

    @include onDesktop {
      left: -80px;
      min-width: 111%;
    }
  }
}