.main {
  color: #FFF;

  &__headline {
    @include flex-centred;
    width: fit-content;
    margin-bottom: 20px;

    @include onDesktop {
      margin-bottom: 40px;
    }

    &-gradient {
      width: 6px;
      height: 26px;
      background: $brand-gradient;
      border-radius: 20px;
      margin-right: 8px;

      @include onTablet {
        width: 8px;
        height: 35px;
        margin-right: 11px;
      }
    }

    &-text {
      font-family: 'Mulish', serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      margin-right: 16px;

      @include onTablet {
        font-size: 24px;
      }

      @include onDesktop {
        font-size: 28px;
      }
    }

    &-arrow {
      color: #FFF;
      font-family: 'FontAwesome', serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

.hero {
  display: flex;
//display: none;
  position: relative;
  box-shadow: inset 100px 100px 100px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
  
  @include onMobile {
    overflow: initial;
  }

  @include onDesktop {
    background: #000000;
  }

  &__content {
    padding: 30px 5px 30px;
    z-index: 1;

    @include onTablet {
      max-width: 562px;
      padding: 70px 10px 100px 50px;
    }

    @include onDesktop {
      padding: 122px 0 203px 5px;
      box-shadow: 100px 0px 100px 0px #000;
    }
  }

  &__headline {
    margin-bottom: 52px;
    font-family: 'Marcellus', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    
    @include onTablet {
      font-size: 60px;
      font-weight: 400;
      line-height: 50px;
    }

    @include onDesktop {
      height: 161px;
      margin-bottom: 32px;
      font-size: 80px;
      font-weight: 400;
      line-height: 70px;
      
    }
  }

	&__details {
    @include flex(center, center); 
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 800;
    line-height: 10px;
    font-family: 'Mulish', serif;

    @include onTablet {
      justify-content: space-evenly;
    }

    @include onDesktop {
      @include flex(center, start);
      margin-bottom: 25px;
    }
  }

  &__year {
    margin-right: 20px;

    @include onTablet {
      margin-right: 40px;
    }
  }

  &__age-category {
    @include flex(center, center);
    margin-right: 19px;
    height: 24px;
    width: 60px;
    $border: 1.5px;
    position: relative;
    color: #FFF;
    border: solid $border transparent;
    border-radius: 50px;
    background-clip: padding-box;
    background: linear-gradient(to right, #326CFF, #26FFF2);
    text-align: center;
    line-height: 12px;
    z-index: 1;
    
    &:before {
      height: 18px;
      width: 54px;
      content: '';
      position: absolute;
      z-index: -1;
      border-radius: inherit;
      background: #000;
    }
  }

  &__duration {
    margin-right: 41px;
  }

  &__star {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

	&__summary {
    color: #e4e3e3;
    font-family: 'Mulish', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 35px;

    @include onTablet {
      line-height: 28px;
    }

    @include onDesktop {
      color: #C2C2C2;
      line-height: 28px;
    }
  }

  &__buttons {
    @include flex(center, space-around);
    opacity: 0.9;
    @include onDesktop {
      @include flex(center, start);
      gap: 30px;
      opacity: 1;
    }
  }

  &__bg-poster {
    display: block;
    position: absolute;
    min-width: 214%;
    left: -204px;
    opacity: 0.3;
    height: 100%;
    background: url("../images/poster1.png") no-repeat;
    background-position: center -11%;
    background-size: cover;
    background-color: rgb(30, 30, 30);

    @include onTablet {
      min-width: 187%;
      left: -336px;
      opacity: 0.5;
      height: 100%;
      background-position: center 13%;
    }

    @include onDesktop {
      right: 0;
      min-width: 66%;
      left: 569px;
      opacity: 1;
      background-size: contain;
    }
  }

  &__underline {
    display: block;
    height: 2px; 
    position: absolute;
    min-width: 214%;
    left: -204px;
    bottom: 0;
    background: #2F2E2E;
    content: '';
    z-index: 1;

    @include onTablet {
      position: absolute;
      min-width: 187%;
      left: -336px;
    }

    @include onDesktop {
      left: -80px;
      min-width: 111%;
    }
  }
}

.trending {
  padding: 30px 5px 30px 5px;
  display: flex;
//display: none;
  flex-direction: column;
  gap: 30px;

  @include onTablet {
    padding: 30px 5px 50px 5px;
  }

  @include onDesktop {
    padding: 60px 5px 100px 5px;
    gap: 55px;

    & > *:first-child {
      margin-bottom: 5px;
    }
  }
  
  .slider {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 230px;

    @include onTablet {
      height: 270px;
    }
  
    @include onDesktop {
      height: 310px;
    }

    &__container {
      display: flex;
      gap: 12px;
      transition: transform 0.5s;
      width: 100%;

      @include onTablet {
        gap: 24px;
      }
    
      @include onDesktop {
        gap: 36px;
        
      }
    }

    &__item {
      width: calc(100% / 2);
      min-width: calc(100% / 2);
      max-width: calc(100% / 2);
      border-radius: 20px;
      background-size: cover;
      background-position: center;

      &:hover {
        box-shadow: 0px 0px 12px -5px #26FFF2;
      }

      @include onTablet {
        width: calc(100% / 4);
        min-width: calc(100% / 4);
        max-width: calc(100% / 4);
      }

      @include onDesktop {
        min-width: 209px;
        max-width: 209px;
      }
    }
  }
}

.popular {
  padding: 0px 5px 30px 5px;
  display: flex;
//display: none;
  flex-direction: column;
  gap: 30px;

  @include onDesktop {
    padding: 0px 5px 100px 5px;
    gap: 70px;
  }

  &__genres {
    .slider {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0 auto;
    
      &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        transition: transform 0.3s;

        @include onTablet {
          gap: 14px;
        }

        @include onDesktop {
          gap: 27px;
        }
      }
    
      &__item {
        @include flex(center, center);
        gap: 8px;
        flex-direction: column;
        width: calc(95% / 3);
        height: 120px;
        border-radius: 20px;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0px 0px 12px -5px #26FFF2;
        }
  
        @include onTablet {
          height: 140px;
          width: calc(94% / 4);
        }
  
        @include onDesktop {
          height: 198px;
        }

        &-scifi {
          position: relative;
        }

        &-fake {
          border-radius: 80px;
          background: #333333;
          padding: 30px;
          scale: 0.8;

          @include onTablet {
            display: none;
          }

          &:hover {
            transform: none;
            box-shadow: none;
          }
        }
      }

      &__svg {
        @include square(80px);
        &-scifi {
          @include square(90px);
          position: absolute;
          top: 0px;
          left: 0px;
          &-text {
            position: absolute;
            bottom: 16px;
          }
          @include onTablet {
            top: 0px;
            left: 30px;
            &-text {
              bottom: 22px;
            }
          }

          @include onDesktop {
            top: 25px;
            left: 110px;
            &-text {
              bottom: 50px;
            }
          }
        }
      }

      &__category {
        font-family: 'Mulish', serif;
        font-size: 16px;
        line-height: 10px;
        font-weight: 700;

        @include onTablet {
          font-size: 20px;
          line-height: 14px;
        }

        @include onDesktop {
          font-size: 28px;
          line-height: 20px;
        }
      }
    }
  }

  &__actors {
    .slider {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 0 auto;
  
      &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        transition: transform 0.3s;
  
        @include onTablet {
          gap: 8px;
          flex-wrap: nowrap;
        }
      
        @include onDesktop {
          gap: 60px;
        }
      }
      
      &__item {
        @include flex(center, start);
        gap: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        transition: transform 0.3s;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          transition: background-color 0.5s;
          opacity: 0;
          border-radius: 20px;
        }

        &:hover::before {
          border-radius: 20px;
          opacity: 1;
        }

        @include onTablet {
          gap: 16px;
        }

        @include onDesktop {
          gap: 20px;
        }

        &:hover {
          transform: scale(1.2);

          @include flex(center, center);
          & > *:nth-child(1) {
            background-color: rgba(0, 0, 0, 1);
          }

          & > *:nth-child(2) { 
            display:flex;
            position: absolute;
          }
        }
      }

      &__photo {
        @include square(100px);
        border-radius: 100%;
        background-size: cover;
        fill: #C4C4C4;

        @include onTablet {
          @include square(120px);
        }

        @include onDesktop {
          @include square(190px);
        }
      }

      &__name {
        text-align: center;
        font-family: 'Mulish', serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        display: none;

        @include onTablet {
          display: block;
          font-size: 18px;
        }
      }
    }
  }
}

.openers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 340px;
  padding: 0 5px;

  @include onTablet {
    flex-direction: row;
  }

  @include onDesktop {
    flex-direction: row;
  }

  &__big-buck-bunny {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    @include onTablet {
      background-position: 50%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0px;
    }

    @include onDesktop {
      width: 50%;
    }
  }

  &__coming-soon {
    @include flex(center, center);
    flex-direction: column;
    gap: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(87deg, #050b2e 29.67%, #000 70.52%);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.10);
    z-index: 2;
    height: 100%;
    
    @include onTablet {
      width: 50%;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 0px;
    }

    @include onDesktop {
      width: 50%;
      gap: 30px;
    }
  }

  &__gif {
    width: 50%;
    height: 50%;

    @include onTablet {
      width: 80%;
      height: 40%;
    }

    @include onDesktop {
      width: 294px;
      height: 148px;
    }
  }

  &__headline {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    
    @include onTablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesktop {
      font-size: 64px;
      line-height: 20px;
    }
  }
}

.register {
  //display: none;
  padding: 30px 5px;
  @include onTablet {
    padding: 60px 80px;
  }

  @include onDesktop {
    padding: 121px 108px;
  }

  &__background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background: linear-gradient(337deg, #000 58.12%, #FFF 124.09%);
    backdrop-filter: blur(25px);
    background-size: cover;
    background-repeat: no-repeat;

    @include onTablet {
      flex-direction: row;
      justify-content: space-around;
      height: 220px;
    }
    @include onDesktop {
      height: 270px;
    }
  }

  &__headline {
    width: 90%;
    color: #FFF;
    font-family: 'Mulish', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;

    @include onTablet {
      width: 65%;
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }
}