* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

button {
  height: 0;
  width: 0;
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 360px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.page {
  scroll-behavior: smooth;
  background: #000;
  margin: 0 auto;
  max-width: 1600px;
  overflow-x: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 165px;
  border-radius: 50px;
  color: #323232;
  background: #ffffff;
  cursor: pointer;
  text-align: center;
  font-family: "Mulish", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .button {
    width: 195px;
  }
}
.button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 16px -5px #26FFF2;
}
.button .icon {
  width: 14px;
  height: 18px;
  margin-right: 15px;
}
.button-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 50px;
  background: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%);
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.5));
  border-radius: 50px;
  color: #fff;
}

@keyframes slide1 {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(-40%);
  }
  30% {
    transform: translateX(-80%);
  }
  40% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(-160%);
  }
  60% {
    transform: translateX(-120%);
  }
  70% {
    transform: translateX(-80%);
  }
  80% {
    transform: translateX(-40%);
  }
  90% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide2 {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(-20%);
  }
  30% {
    transform: translateX(-40%);
  }
  40% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(-40%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px 0 5px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: inherit;
    gap: 10px;
  }
}
@media (min-width: 1440px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: unset;
  }
}
.nav .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px 30px 0px;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .nav .logo {
    margin: 15px 0px 15px 0px;
  }
}
@media (min-width: 1440px) {
  .nav .logo {
    margin: 15px 0px 15px 0px;
  }
}
.nav .logo:hover {
  transform: scale(1.1);
}
.nav .logo-m {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  position: relative;
  color: #FFF;
  background: #000;
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 12px;
  text-align: center;
  font-family: "Lemon", serif;
  font-size: 30px;
  font-weight: 400;
}
@media (min-width: 1440px) {
  .nav .logo-m {
    width: 70px;
    height: 70px;
    margin-right: 14px;
    font-size: 40px;
    border-radius: 14px;
    border: solid 4px transparent;
  }
}
.nav .logo-m:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(to right, #326CFF, #26FFF2);
}
.nav .logo-box {
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
}
@media (min-width: 768px) {
  .nav .logo-box {
    font-size: 40px;
  }
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 14px;
  flex-wrap: nowrap;
  text-align: center;
  font-family: "Mulish", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  opacity: 0.5;
  position: relative;
}
@media (min-width: 768px) {
  .nav__link {
    padding: 25px 10px;
  }
}
@media (min-width: 1440px) {
  .nav__link {
    padding: 30px 26px;
  }
}
.nav__link:before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 70%;
  height: 2px;
  background: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .nav__link:before {
    width: 80%;
    bottom: 15px;
  }
}
@media (min-width: 1440px) {
  .nav__link:before {
    width: 60%;
    bottom: 20px;
  }
}
.nav__link:hover {
  opacity: 0.8;
}
.nav__link:hover:before {
  transform: scaleX(1);
}
.nav__link-active {
  opacity: 1;
}
.nav__link-active:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 2px;
  background: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%);
  transform: scaleX(1);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .nav__link-active:before {
    width: 70%;
    bottom: 15px;
  }
}
@media (min-width: 1440px) {
  .nav__link-active:before {
    width: 50%;
    bottom: 20px;
  }
}
.nav__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 76px;
}
@media (min-width: 768px) {
  .nav__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
  }
}
@media (min-width: 1440px) {
  .nav__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.nav__action :hover {
  opacity: 0.8;
  transform: scale(1.2);
}
.nav__action-link {
  padding: 0px 30px;
}
@media (min-width: 768px) {
  .nav__action-link {
    padding: 26px 20px;
  }
}
@media (min-width: 1440px) {
  .nav__action-link {
    padding: 38px 26px;
  }
}
.nav__action .icon {
  width: 24px;
  height: 24px;
}

.main {
  color: #FFF;
}
.main__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .main__headline {
    margin-bottom: 40px;
  }
}
.main__headline-gradient {
  width: 6px;
  height: 26px;
  background: linear-gradient(317deg, #26FFF2 13.2%, #326CFF 71.54%);
  border-radius: 20px;
  margin-right: 8px;
}
@media (min-width: 768px) {
  .main__headline-gradient {
    width: 8px;
    height: 35px;
    margin-right: 11px;
  }
}
.main__headline-text {
  font-family: "Mulish", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .main__headline-text {
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  .main__headline-text {
    font-size: 28px;
  }
}
.main__headline-arrow {
  color: #FFF;
  font-family: "FontAwesome", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.hero {
  display: flex;
  position: relative;
  box-shadow: inset 100px 100px 100px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
@media (min-width: 360px) {
  .hero {
    overflow: initial;
  }
}
@media (min-width: 1440px) {
  .hero {
    background: #000000;
  }
}
.hero__content {
  padding: 30px 5px 30px;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__content {
    max-width: 562px;
    padding: 70px 10px 100px 50px;
  }
}
@media (min-width: 1440px) {
  .hero__content {
    padding: 122px 0 203px 5px;
    box-shadow: 100px 0px 100px 0px #000;
  }
}
.hero__headline {
  margin-bottom: 52px;
  font-family: "Marcellus", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
@media (min-width: 768px) {
  .hero__headline {
    font-size: 60px;
    font-weight: 400;
    line-height: 50px;
  }
}
@media (min-width: 1440px) {
  .hero__headline {
    height: 161px;
    margin-bottom: 32px;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
  }
}
.hero__details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 800;
  line-height: 10px;
  font-family: "Mulish", serif;
}
@media (min-width: 768px) {
  .hero__details {
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  .hero__details {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 25px;
  }
}
.hero__year {
  margin-right: 20px;
}
@media (min-width: 768px) {
  .hero__year {
    margin-right: 40px;
  }
}
.hero__age-category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
  height: 24px;
  width: 60px;
  position: relative;
  color: #FFF;
  border: solid 1.5px transparent;
  border-radius: 50px;
  background-clip: padding-box;
  background: linear-gradient(to right, #326CFF, #26FFF2);
  text-align: center;
  line-height: 12px;
  z-index: 1;
}
.hero__age-category:before {
  height: 18px;
  width: 54px;
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  background: #000;
}
.hero__duration {
  margin-right: 41px;
}
.hero__star {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
.hero__summary {
  color: #e4e3e3;
  font-family: "Mulish", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .hero__summary {
    line-height: 28px;
  }
}
@media (min-width: 1440px) {
  .hero__summary {
    color: #C2C2C2;
    line-height: 28px;
  }
}
.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.9;
}
@media (min-width: 1440px) {
  .hero__buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    opacity: 1;
  }
}
.hero__bg-poster {
  display: block;
  position: absolute;
  min-width: 214%;
  left: -204px;
  opacity: 0.3;
  height: 100%;
  background: url("../images/poster1.png") no-repeat;
  background-position: center -11%;
  background-size: cover;
  background-color: rgb(30, 30, 30);
}
@media (min-width: 768px) {
  .hero__bg-poster {
    min-width: 187%;
    left: -336px;
    opacity: 0.5;
    height: 100%;
    background-position: center 13%;
  }
}
@media (min-width: 1440px) {
  .hero__bg-poster {
    right: 0;
    min-width: 66%;
    left: 569px;
    opacity: 1;
    background-size: contain;
  }
}
.hero__underline {
  display: block;
  height: 2px;
  position: absolute;
  min-width: 214%;
  left: -204px;
  bottom: 0;
  background: #2F2E2E;
  content: "";
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__underline {
    position: absolute;
    min-width: 187%;
    left: -336px;
  }
}
@media (min-width: 1440px) {
  .hero__underline {
    left: -80px;
    min-width: 111%;
  }
}

.trending {
  padding: 30px 5px 30px 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .trending {
    padding: 30px 5px 50px 5px;
  }
}
@media (min-width: 1440px) {
  .trending {
    padding: 60px 5px 100px 5px;
    gap: 55px;
  }
  .trending > *:first-child {
    margin-bottom: 5px;
  }
}
.trending .slider {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 230px;
}
@media (min-width: 768px) {
  .trending .slider {
    height: 270px;
  }
}
@media (min-width: 1440px) {
  .trending .slider {
    height: 310px;
  }
}
.trending .slider__container {
  display: flex;
  gap: 12px;
  transition: transform 0.5s;
  width: 100%;
}
@media (min-width: 768px) {
  .trending .slider__container {
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .trending .slider__container {
    gap: 36px;
  }
}
.trending .slider__container--movies {
  animation: slide1 35s infinite;
}
@media (min-width: 768px) {
  .trending .slider__container--movies {
    animation: slide2 15s infinite;
  }
}
@media (min-width: 1440px) {
  .trending .slider__container--movies {
    animation: none;
  }
}
.trending .slider__container--shows {
  animation: slide2 15s infinite;
  animation-delay: 5s;
}
@media (min-width: 768px) {
  .trending .slider__container--shows {
    animation: slide2 35s infinite;
  }
}
@media (min-width: 1440px) {
  .trending .slider__container--shows {
    animation: none;
  }
}
.trending .slider__item {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.trending .slider__item:hover {
  box-shadow: 0px 0px 12px -5px #26FFF2;
}
@media (min-width: 768px) {
  .trending .slider__item {
    width: 25%;
    min-width: 25%;
    max-width: 25%;
  }
}
@media (min-width: 1440px) {
  .trending .slider__item {
    min-width: 209px;
    max-width: 209px;
  }
}

.popular {
  padding: 0px 5px 50px 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1440px) {
  .popular {
    padding: 0px 5px 100px 5px;
    gap: 70px;
  }
}
.popular__genres .slider {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.popular__genres .slider__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  transition: transform 0.3s;
}
@media (min-width: 768px) {
  .popular__genres .slider__container {
    gap: 14px;
  }
}
@media (min-width: 1440px) {
  .popular__genres .slider__container {
    gap: 27px;
  }
}
.popular__genres .slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  width: 31.6666666667%;
  height: 120px;
  border-radius: 20px;
  transition: transform 0.3s;
}
.popular__genres .slider__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 12px -5px #26FFF2;
}
@media (min-width: 768px) {
  .popular__genres .slider__item {
    height: 140px;
    width: 23.5%;
  }
}
@media (min-width: 1440px) {
  .popular__genres .slider__item {
    height: 198px;
  }
}
.popular__genres .slider__item-scifi {
  position: relative;
}
.popular__genres .slider__item-fake {
  border-radius: 80px;
  background: #333333;
  padding: 30px;
  scale: 0.8;
}
@media (min-width: 768px) {
  .popular__genres .slider__item-fake {
    display: none;
  }
}
.popular__genres .slider__item-fake:hover {
  transform: none;
  box-shadow: none;
}
.popular__genres .slider__svg {
  width: 80px;
  height: 80px;
}
.popular__genres .slider__svg-scifi {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.popular__genres .slider__svg-scifi-text {
  position: absolute;
  bottom: 16px;
}
@media (min-width: 768px) {
  .popular__genres .slider__svg-scifi {
    top: 0px;
    left: 30px;
  }
  .popular__genres .slider__svg-scifi-text {
    bottom: 22px;
  }
}
@media (min-width: 1440px) {
  .popular__genres .slider__svg-scifi {
    top: 25px;
    left: 110px;
  }
  .popular__genres .slider__svg-scifi-text {
    bottom: 50px;
  }
}
.popular__genres .slider__category {
  font-family: "Mulish", serif;
  font-size: 16px;
  line-height: 10px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .popular__genres .slider__category {
    font-size: 20px;
    line-height: 14px;
  }
}
@media (min-width: 1440px) {
  .popular__genres .slider__category {
    font-size: 28px;
    line-height: 20px;
  }
}
.popular__actors .slider {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.popular__actors .slider__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  transition: transform 0.3s;
}
@media (min-width: 768px) {
  .popular__actors .slider__container {
    gap: 8px;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1440px) {
  .popular__actors .slider__container {
    gap: 60px;
  }
}
.popular__actors .slider__item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
  position: relative;
}
.popular__actors .slider__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
  opacity: 0;
  border-radius: 20px;
}
.popular__actors .slider__item:hover::before {
  border-radius: 20px;
  opacity: 1;
}
@media (min-width: 768px) {
  .popular__actors .slider__item {
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .popular__actors .slider__item {
    gap: 20px;
  }
}
.popular__actors .slider__item:hover {
  transform: scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular__actors .slider__item:hover > *:nth-child(1) {
  background-color: rgb(0, 0, 0);
}
.popular__actors .slider__item:hover > *:nth-child(2) {
  display: flex;
  position: absolute;
}
.popular__actors .slider__photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-size: cover;
  fill: #C4C4C4;
}
@media (min-width: 768px) {
  .popular__actors .slider__photo {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 1440px) {
  .popular__actors .slider__photo {
    width: 190px;
    height: 190px;
  }
}
.popular__actors .slider__name {
  text-align: center;
  font-family: "Mulish", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  display: none;
}
@media (min-width: 768px) {
  .popular__actors .slider__name {
    display: block;
    font-size: 18px;
  }
}/*# sourceMappingURL=styles.css.map */